body {
    height: 100%;
    padding: 30px;
    background-image: url(../chalkboard.jpg);
    font-color: #ffffff;
}

TextField{
color: #ffffff;

}
#content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.titleBox {
	color: #ffffff;
	text-align: center;
}

h2 {
	font-family: 'Open Sans', sans-serif;
}
h3 {
	font-family: 'Open Sans', sans-serif;
}

.displayPhrase {
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
}

.lettersDisplay {
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}


.gallowTorso{
	position: absolute; 
  	top: 50%;
  	left: 50%;
	width: .4%;
	height:50%;
	background-color: #ffffff;

}

.gallowHang{
	position: absolute; 
  	top: 50%;
  	left: 65%;
	width: .4%;
	height:5%;
	background-color: #ffffff;

}

.gallowOverhead{
	position: absolute;
  	top: 50%;
  	left: 50%;
	width: 15%;
	height: .8%;
	background-color: #ffffff;

}


.head{
	position: absolute; 
  	top: 55%;
  	left: 62%;
	width: 6%;
	height: 10%;
	border-radius: 100%;
	border: 5px solid #ffffff;

}

.torso{
	position: absolute; 
  	top: 66%;
  	left: 65%;
	height: 14%;
	width: 1px;
	border: 5px solid #ffffff;
	background-color: #ffffff;

}

.leftArm{
	position: absolute; 
  	top: 69%;
  	left: 60%;
	width: 6%;
	height: .8%;
	background-color: #ffffff;
	transform: rotate(45deg);


}


.rightArm{
	position: absolute; 
  	top: 70%;
  	left: 65%;
	width: 5%;
	height: .8%;
	background-color: #ffffff;
	transform: rotate(138deg);


}

.leftLeg{
	position: absolute;
  	top: 85%;
  	left: 59%;
	width: 7.5%;
	height: .7%;
	background-color: #ffffff;
	transform: rotate(-225deg);

}

.rightLeg{
	position: absolute; 
  	top: 85%;
  	left: 64%;
	width: 7.5%;
	height: .7%;
	background-color: #ffffff;
	transform: rotate(45deg);

}

